<!DOCTYPE html>
<html>
	{{ template "head.tmpl" }}
	<body>
		{{ template "header.tmpl" }}
		<main class="centering">
			<h2 style="margin:10px 0px;">API</h2>
			<h3 class="sub-title">Customize Your Environments with API Comfortably</h3>	
			<div class="block">
				<div class="head">
					<p>OAuth</p>
				</div>
				<div class="main">
					<ul style="padding:0px;">
						<li><p>/api/authenticate</p></li>
					</ul>
				</div>
			</div>
			<div class="block">
				<div class="head">
					<p>Problem</p>
				</div>
				<div class="main">
					<p>/api/problem</a>
				</div>
			</div>
		</main>
		{{ template "footer.tmpl" }}
	</body>
</html>
