<!DOCTYPE html>
<html>
	{{ template "head.tmpl" }}
	<body>
		{{ template "header.tmpl" }}
		<main class="centering">
			<h1>Customize Your Environments with API Comfortably</h1>
		</main>
		{{ template "footer.tmpl" }}
	</body>
</html>
