{{ define "header.tmpl" }}
	<header>
		<div class="centering">
			<h1 class="quicksand header-box">kstm Judge</h1>
			<ol class="quicksand title-menu">
				<a href="/"><li>Top</li></a>
				<a href="/problems"><li>Problem</li></a>
				<a href="/submission"><li>Submission</li></a>
				<a href="/status"><li>Status</li></a>
				<a href="/api/"><li>API</li></a>
			</ol>
		</div>
	</header>
{{ end }}
