{{ define "head.tmpl" }}
	<head>
		<title>kstm Judge</title>
		<link href="https://fonts.googleapis.com/css?family=Quicksand:300" rel="stylesheet">
		<link rel="stylesheet" href="css/style.css">
		<script type="text/javascript" async src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
	</head>
{{ end }}
