{{ define "header.tmpl" }}
	<header>
		<div class="centering">
			<h1 class="quicksand header-box">kstm Judge</h1>
			<ol class="title-menu">
				<li>Top</li>
				<li>Problem</li>
				<li>Submission</li>
				<li>Status</li>
				<li>API</li>
			</ol>
		</div>
	</header>
{{ end }}
