<!DOCTYPE html>
<html>
<head>
	<title>kstm Judge</title>
	<link href="https://fonts.googleapis.com/css?family=Quicksand:300" rel="stylesheet">
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<header>
		<div class="centering">
			<h1 class="quicksand header-box">kstm Judge Contest 001</h1>
		</div>
	</header>
	<main class="centering">
		<div class="block">
			<div class="head">
				<p class="japanese">問題</p>
				<p class="english">Problem</p>
			</div>
			<div class="main">
				<h2>A+B Problem</h2>
			</div>
		</div>
		<div class="block">
			<div class="head">
				<p class="japanese">問題文</p>
				<p class="english">Statement</p>
			</div>
			<div class="main">
				<p>{{.statement}}</p>
			</div>
		</div>
		<div class="block">
			<div class="head">
				<p class="japanese">制約</p>
				<p class="english">Limits</p>
			</div>
			<ul class="main">
				<li>0 <= A <= 1000</li>
				<li>0 <= B <= 1000</li>
			</ul>
		</div>
		{{range .testcase}}
		<div class="block">
			<div class="head">
				<p class="quicksand">Test Case {{.Id}}</p>
			</div>
			<div class="main">
				<p>{{.Name}}</p>
			</div>
		</div>
		{{end}}
	</main>
	<footer>
		
	</footer>
</body>
</html>
