<!DOCTYPE html>
<html>
	{{ template "head.tmpl" }}
	<body>
		{{ template "header.tmpl" }}
		<main class="centering">
			<div class="block">
				<div class="head">
					<p class="japanese">問題</p>
					<p class="english">Problem</p>
				</div>
				<div class="main">
					<h2>A+B Problem</h2>
				</div>
			</div>
			<div class="block">
				<div class="head">
					<p class="japanese">問題文</p>
					<p class="english">Statement</p>
				</div>
				<div class="main">
					<p>{{.statement}}</p>
				</div>
			</div>
			<div class="block">
				<div class="head">
					<p class="japanese">制約</p>
					<p class="english">Limits</p>
				</div>
				<ul class="main">
					{{range .limit}}
					<li>{{.}}</li>
					{{end}}
				</ul>
			</div>
			{{range .testcase}}
			<div class="block">
				<div class="head">
					<p class="quicksand">Test Case {{.Id}}</p>
				</div>
				<div class="main">
					<p>{{.Name}}</p>
				</div>
			</div>
			{{end}}
			<div class="block">
				<h3>提出</h3>
				<div id="code" style="height:200px;"></div>
				<button>Run</button>
				<button>Submit</button>
				<select name="language">
				</select>
				<script>
					for(var i in languages){
						var option = document.createElement('option');
						option.textContent = i;
						document.querySelector('select[name=language]').appendChild(option);
					}
					var editor = ace.edit("code");
					editor.setTheme("ace/theme/monokai");
					document.addEventListener('DOMContentLoaded',function() {
					    document.querySelector('select[name="language"]').onchange=changeLanguage;
					},false);
					function changeLanguage(event){
						editor.getSession().setMode(languages[event.target.value].mode);
					}
				</script>

			</div>
		</main>
		{{ template "footer.tmpl" }}
	</body>
</html>
